<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ponyhelper"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pony Helper"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PonyHelper.NoActionBar">
        <activity
            android:name=".PagCalcoloTot"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".PagProfilo"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".PagInfo"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".PagMenu"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".entrate.PagEntrate"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".PagModificaTurni"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".destinationManagment.PagDestinazioni"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait"
            android:exported="true">

        </activity>
        <activity
            android:name=".PagLogin"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".PagReg"
            android:screenOrientation="portrait"
            android:exported="true" />

        <activity
            android:name=".IntroPage"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>